# Python cache / Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environment
venv/
.venv/
env/

# Environment Variables & Secrets
.env

# Local Test Files & Uploads
*.pdf
media/
data/

# Databases & Local Logs
*.sqlite3
*.log

# IDE Configuration
.vscode/
.idea/
