{% extends 'base.html' %}
{% load static %}

{% block title %}Login | Mulyankan{% endblock %}

{% block content %}
<main class="main-container d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-8 col-md-6 col-lg-4">
                <div class="card login-card shadow-sm border rounded-3 p-4">
                    <img src="{% static 'images/logo.png' %}" alt="Mulyankan Logo" class="navbar-logo">
                    <h2 class="text-center"><span class="auth-header">Welcome back</span></h2>
                    <p class="text-center">Please enter your details to log in</p>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %} py-2 text-center" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form class="text-center" method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="mb-3 text-start">
                            <label for="inputName" class="form-label">Username</label>
                            <input type="text" class="form-control" id="inputName" name="username" placeholder="Enter your username" required>
                        </div>
                        
                        <div class="mb-3 text-start">
                            <label for="inputPassword" class="form-label">Password</label>
                            <input type="password" class="form-control" id="inputPassword" name="password" placeholder="••••••••" required>
                        </div>
                        
                        <div class="text-center mt-4">
                        <label>
                            <input type="checkbox" name="remember_me"> Remember Me
                        </label>
                        </div>

                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-signin">Login</button>
                        </div>
                        <div class="text-center mt-4">
                            <p>Don't have an account yet? <a href="{%url 'register'%}">Register Now!</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}