{% extends 'base.html' %}
{% load static %}

{% block title %} Mulyankan | Context-Aware Subjective Evaluation {% endblock %}

{% block content %}
<main class="main-container d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-8 col-md-6 col-lg-4 text-center">
                <span class="user-msg d-block">
                    Registration in process
                    <br>
                    Please wait while an admin approves your registration
                </span>
            </div>
        </div>
    </div>
</main>
{% endblock %}